.container{

    color: rgb(34, 2, 34) ;
    background-color:rgb(247, 132, 247);
    padding: 10px;
}


.header{
    height: 50px;
    width: auto; 
    text-align: center; 
    background-color: rgb(83, 5, 83);
    color:rgb(247, 161, 221);
    background: rgb(134, 13, 124);
    padding-top: 15px;
    font-size: large;
    font-weight: bold;
}

.nav ul {
    list-style-type: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(82, 6, 75);
    font-weight: 600;
    
  }

  .nav li {
    margin-right: 1rem;
    text-decoration: none;
}
